spring:
  config:
    activate:
      on-profile: local

server:
  port: 8080

logging:
  level:
    root: DEBUG
    org.cotato.backend: DEBUG
    org.springframework.web: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
